html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
  widh:1170px;
  margin:0 auto;
  padding:0 15px;
}
.top-wrapper{
  background-image: url(top.png);
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 100px;
  color:white;
  text-align: center;
}
.container h1{
  font-size: 45px;
  letter-spacing: 5px;
}
.container p{
  opacity: 0.5px;
}
.btn{
  padding: 8px 24px;
  color: white;
  opacity: 0.8;
  display: inline-block;
  border-radius: 4px;
}
.btn:hover{
  opacity: 1;
}
.sign-up{
  background-color:#239b76;
  margin-top:30px;
  margin-bottom:15px;
}
.facebook{
  margin-top:15px;
  background-color:#3b5998;
  margin-right:10px;
}
.twiiter{
  background-color:#55acee;
}
.fa{
  margin-right:5px;
}

header{
  height: 65px;
  width: 100%;
  background-color:rgba(34,49,52,0.9);
  position:fixed;
  top:0;
  z-index:10;
}
.header-left img{
  width:124px;
  padding-top: 20px;
  float: left;
}
.header-right{
  background-color:rgba(255,255,255,0.3);
  float: right;
  padding:0 25px;
}
.header-right a{
  line-height: 65px;
  color: white;
  display: block;
  transition:all 0.5s;
}
.header-right:hover{
  background-color:rgba(255,255,255,0.5);
}

.lesson-wrapper{
  height: 580px;
  background-color: #f7f7f7;
  text-align:center;
}
.heading{
  padding-top:80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
.heading h2{
  font-weight: normal;
}
.lesson{
  float:left;
  width: 25%;
}
.lesson-icon{
  position:relative;
}
.lesson-icon p{
  position: absolute;
  top:44%;
  width:100%;
  color:white;
}
.text-contents{
  width: 80%;
  margin-top: 15px;
  color:#b3aeb5;
  display:inline-block;
}

.message-wrapper{
  text-align: center;
  margin-bottom: 80px;
}
.message-wrapper heading{
  color:#5f5d60;
}
.message{
  background-color:#5dca88;
  opacity: 0.8;
  color: white;
  padding: 15px 40px;
  box-shadow:0px 7px #1a7940;
}
.message:active{
  position: relative;
  top:7px;
  box-shadow: none;
}

footer{
  padding: 30px 0;
  border-top: solid #eee;
}
footer img{
  width:124px;
}

.menu-icon{

  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  
  display:none;
}
