html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
  widh:1170px;
  margin:0 auto;
  padding:0 15px;
}
.top-wrapper{
  background-color: img(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 100px;
  color:white;
  text-align: center;
}
.container h1{
  font-size: 45px;
  letter-spacing: 5px;
}
.container p{
  opacity: 0.5px;
}
.btn{
  padding: 8px 24px;
  color: white;
  opacity: 0.8;
  display: inline-block;
  border-radius: 4px;
}
.btn:hover{
  opacity: 1;
}
.sign-up{
  background-color:#239b76;
  margin-top:30px;
  margin-bottom:15px;
}
.facebook{
  margin-top:15px;
  background-color:#3b5998;
  margin-right:10px;
}
.twiiter{
  background-color:#55acee;
}
.fa{
  margin-right:5px;
}

header{
  height: 65px;
  width: 100%;
  background-color:rgba(34,49,52,0.9);
  position:fixed;
  top:0;
  z-index:10;
}
.header-left img{
  width:124px;
  padding-top: 20px;
  float: left;
}
.header-right{
  background-color:rgba(255,255,255,0.3);
  float: right;
  padding:0 25px;
}
.header-right a{
  line-height: 65px;
  color: white;
  display: block;
  transition:all 0.5s;
}
.header-right:hover{
  background-color:rgba(255,255,255,0.5);
}
